ANALISE METAS NC.py
client_secret_29679962881-j90alldta0duk8vtv9s69qdv7ro755bo.apps.googleusercontent.com.json
planilhao_ug_160091_A_PAG.csv
planilhao_ug_160091_ALIQ.csv
test.html
teste.csv
virtual-cubist-249800-c29651c665cb.json
/CONSOLIDADO
/NC
/SAG 2.0
/venv
final_dummer_160.csv
